<h1 class="logo">Lista de eventos: </h1>

{{#each pontos}}
    <div id="list">
        <h1>{{nome}}</h1>
        <p>Valor: {{valor}}</p>
        <p>Organização: {{org}}</p>
        <p>Data: {{data}}</p>
        <p>{{geometry.coordinates}}</p>
   </div>
{{/each}}